DRIVER=com.mysql.jdbc.Driver
DB_URL=jdbc:mysql://localhost:3306/transcribathon?allowMultiQueries=true
USER=dbuser
PASS=dbpassword
SECRET=openid-connect-secret
SOLR=http://localhost:8983
HOME=/home/user
TIMEOUT=30000
DEI_API= https://fresenia-dev.man.poznan.pl/dei-test/api
